<h1>problem statement 1</h1>
 <div class="container">
   
       
            
          

          <div class="form-group">
          <label for="f">First-name</label>
<input [(ngModel)]="first_name" placeholder="enter the first_name" id="f" class="form-control" name="first_name"> </div><br>
<div class="form-group">
    <label for="l">Last-name</label>
<input [(ngModel)]="last_name" placeholder="enter the last_name" id="l" class="form-control" name="last-name"></div><br>
<div class="form-group">
    <label for="d">Date-Of-joining</label>
<input [(ngModel)]="date_of_joining" placeholder="enter the date-of-joining" id="d" class="form-control" name="date_of_joining"></div> <br>
  
<h3>{{first_name}}</h3>
<h3>{{last_name}}</h3>
<h3>{{date_of_joining}}</h3>
   
</div> 
  
  
<app-parent>
</app-parent>
<app-test></app-test>  

<app-test1></app-test1>
<app-test4></app-test4>
<app-test3></app-test3>
<app-test2></app-test2>


<app-test5></app-test5>




